@import '../../static/styles/Variables.scss';
.coinPage__graph {
  padding:15px 25px;
  width: 100%;

  .coinPage__interval__wraper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0px;

    p{
      padding: 0px 15px;
      font-size: 12px;
      color:$text-grey;
      @media (max-width: 768px) and (min-width: 481px) {
        font-size: 14px;
      }
      @media  (min-width: 769px) {
        font-size: 16px;
      }
    }

    button{
      background-color: $background-lemon;
      border: 1px solid  $border-color-main;
      border-radius: 5px;
      font-family: $font-family-second;
      font-size: 10px;
      margin-right: 7px;
      padding: 4px 7px;
      color:$text-black;
      transition: all 0.4s;

      @media (max-width: 768px) and (min-width: 481px) {
        font-size: 14px;
        margin-right: 7px;
        padding: 4px 7px;
      }
      @media  (min-width: 769px) {
        font-size: 16px;
        margin-right: 7px;
        padding: 4px 7px;
      }

      &:hover{
        transition: all 0.4s;
        background-color: $background-orange;
        cursor: pointer;
      }

      &:active{
        background-color: $background-orange;
      }
    }

  }
}