@import '../../static/styles/Variables.scss';

.coinPage {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

.coinPage__loader {
  display:block;
  margin: auto;
}

.coinPage__main {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:$background-white;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.coinPage__header {
  width: 100%;
  padding:7px 10px;
  display:flex;
  align-items: center;
  justify-content: flex-start;


  .coinPage__link {
    text-decoration:none;
    font-size:20px;
    padding:0px 5px;
    margin: 0px 3px;
    font-family: $font-family-name;
    color:$text-black;
    transition: all 0.4s;

    @media (max-width: 768px) and (min-width: 481px) {
      font-size: 24px;
    }
    @media  (min-width: 769px) {
      font-size: 32px;
    }

    &:hover{
      transition: all 0.4s;
      color:$color-yellow;
      cursor: pointer;
    }
  }

  .coinPage__button {
    text-decoration:none;
    background:none;
    font-size:18px;
    margin: 0px 25px;
    color:$color-grey;
    transition: all 0.4s;

    @media (max-width: 768px) and (min-width: 481px) {
      font-size: 24px;
    }
    @media  (min-width: 769px) {
      font-size: 32px;
    }

    &:hover{
      transition: all 0.4s;
      color:$color-yellow;
      cursor: pointer;
      transform: scale(1.2);

      &::after{
        content: attr(data-title); 
        position: absolute;
        left: 90%; top: 80%; 
        z-index: 1; 
        color:$text-white;
        border-radius: 10px;
        background: rgba(121,125,127,0.6); 
        font-family: $font-family-main;
        font-size: 8px; 
        padding: 3px 11px; 
        border: 1px solid $border-color-main;
      }

    }

  }

  h4{
    font-size:10px;
    padding: 0px 4px;
    margin: 5px 3px;
    color:$text-grey;
    font-family: $font-family-second;

    @media (max-width: 768px) and (min-width: 481px) {
      font-size: 12px;
    }
    @media  (min-width: 769px) {
      font-size: 14px;
    }
  }
}
